<div class="d-print-none d-flex flex-column sidebar">

<a href="/" class="d-flex sidebar-button sidebar-logo">
    <svg class="m-auto" width="25" height="25">
        <text x="0", y="15" font-size="24" alignment-baseline="middle">🥖</text>
    </svg>
</a>

<ul class="d-flex flex-column mb-auto sidebar-button-group">
    <li class="sidebar-button d-flex">
        <i class="bi bi-columns-gap m-auto"></i>
    </li>
    <li class="sidebar-button d-flex">
        <i class="bi bi-bar-chart-line m-auto"></i>
    </li>
    <li class="sidebar-button d-flex">
        <i class="bi bi-bookmark-star m-auto"></i>
    </li>
</ul>
<ul class="d-flex flex-column mt-auto mb-none sidebar-button-group">
    <li class="sidebar-button d-flex">
        <i class="bi bi-shield-lock m-auto"></i>
    </li>
    <li class="sidebar-button d-flex">
        <i class="bi bi-search m-auto"></i>
    </li>
    <li class="sidebar-button d-flex">
        <i class="bi bi-question-circle m-auto"></i>
    </li>
</ul>

</div>
