{% include "header.md.j2" %}


# 🤔 Pages Reference

This is a non-exhautive list of everything that can be done in Baguette BI pages. In
short, pages are built with Markdown and Jinja2. First, the template is resolved and then,
the resulting Markdown document is converted to HTML.

Before reading this, make sure you're familiar with
[Markdown syntax](https://daringfireball.net/projects/markdown/)
and
[Jinja templating language](https://jinja.palletsprojects.com/).


## Markdown and extensions

Pages are written in Markdown syntax.