{% extends "base.html.j2" %}

{% block title %}
    <title>{{ title }}</title>
{% endblock %}

{% block head %}
<link rel="stylesheet" href="{{ url_for('static', path='css/base.css') }}">
<link rel="stylesheet"
    href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/11.0.1/styles/default.min.css">
<script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/11.0.1/highlight.min.js"></script>
{% include "elements/vega-imports.html.j2" %}
<script src="{{ url_for('static', path='js/vega-chart.js') }}"></script>
{% endblock %}

{% block content %}
{{ page | safe }}
<footer style="height: 100px"></div>
{% endblock content %}

{% block bottom %}
<script>mountAllCharts();</script>
<script>hljs.highlightAll();</script>
{% endblock bottom %}
