{% extends "base.html.j2" %}
{% import "macros.html.j2" as macros with context %}

{% block title %}
    <title>
    {% if folder.parent %}
    {{ folder.name }}&nbsp;|&nbsp;
    {% endif %}
    {{ title }}
    </title>
{% endblock %}

{% block content %}

    {% if folder.parent %}
    {{ macros.folder_breadcrumbs(folder) }}
    {% endif %}

    <div class="d-flex flex-wrap">

        {% for f in folder.children %}
            {{ macros.display_folder(f) }}
        {% endfor %}

        {% for c in folder.charts %}
            {{ macros.display_chart(c) }}
        {% endfor %}

        {% if not folder.charts and not folder.children %}
            <div class="alert alert-info" role="alert">
                No charts to display here. Consider publishing more charts or check existing chart permissions.
            </div>
        {% endif %}

    </div>

{% endblock %}
